<mat-card class="info-container">
  <mat-card-title>Project X</mat-card-title>
  <mat-card-subtitle>Experimental behaviors <br>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
  </mat-card-subtitle>
  <mat-card-content>
    <a href="https://github.com/NoLogig/Node-garden/master">Download</a>
    <a class="right-info" href="https://github.com/NoLogig/Node-garden">View on Github</a>
  </mat-card-content>
</mat-card>

<mat-card class="info-box">
  <mat-card-header>
    <mat-card-title>Title</mat-card-title>
    <mat-card-subtitle>Subtitle</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
      Experimental behaviors <br>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit.
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>
      <a href="https://github.com/NoLogig/Node-garden/master">Download</a></button>
    <button mat-button>
      <a href="https://github.com/NoLogig/Node-garden">View on Github</a></button>
    <button mat-button>
      <a href="https://herokuapps.com/NoLogig/Node-garden">Live</a></button>
  </mat-card-actions>
</mat-card>