<mat-card class="golden-container">

  <mat-card-header>Golden Rectangles & Spiral Sequence</mat-card-header>

    <span>Scale:</span>

    <mat-slider [max]="1" [min]="0" [step]=".05" [thumbLabel]="'true'" [(ngModel)]="scaleView" title="Scale golden rect"></mat-slider>


    <mat-card-content class="golden-card" [style.transform]="'scale(' + scaleView + ')'">

    <app-golden-rect [repeat]="7"></app-golden-rect>

    <!-- recursive component instead nesting HTML-Tags. 

    <mat-card class="golden-card-major"> </mat-card>
    <mat-card class="golden-card-minor"> </mat-card>
    <mat-card class="golden-card-minors-min">

      <mat-card class="golden-card-major"> </mat-card>
      <mat-card class="golden-card-minor"> </mat-card>
      <mat-card class="golden-card-minors-min">

        <mat-card class="golden-card-major"> </mat-card>
        <mat-card class="golden-card-minor"> </mat-card>
        <mat-card class="golden-card-minors-min">

          And so on...
        
        </mat-card>
      </mat-card> 
    </mat-card> -->

  </mat-card-content>

</mat-card>
