.parallax {
    position: relative;
    background: 50% 0 no-repeat fixed;
    background-size: cover;
    height: 110%;
    margin: 0 auto;
    overflow: hidden;
    color: black;
    /*IE Scroll Bug Fix*/
    /* background-attachment: fixed !important;*/
}

.one {
    background-image: url('./lg/Ethereum-homestead-background-4.jpg');
}

.two {
    background-image: url('./lg/Ethereum-homestead-background-37.jpg');
}

.three {
    background-image: url('./lg/Ethereum-homestead-background-39.jpg');
}

.four {
    background-image: url('./lg/Ethereum-homestead-background-10.jpg');
}

.blank {
    background-image: linear-gradient(#333, rgb(105, 19, 36), #222);
    height: 110%;
}

.blank-helper {
    background: 50% 0% no-repeat fixed;
    background-image: url('./lg/ETHEREUM-ICON_Black_md2.png');
    height: 100%;
    margin: 0 auto;
    background-size: contain;
    overflow: hidden;
}

.parallax p {
    background-color: rgba(255, 255, 255, 0.7);
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    top: 20%;
    left: 5%;
    width: 45%;
    padding: 6px;
    box-sizing: border-box;
}

.last {
    background-image: url('./lg/wallpaper-homestead.jpg');
}

.plast {
    margin: 0 auto;
    width: 68%;background-color: transparent;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    top: 0;
    left: 0;
    box-sizing: border-box;
    
}

.blank p {
    background-color: transparent;
    font-weight: 500;
    font-family: 'Segoe UI', Arial, sans-serif;
    position: absolute;
    top: 20%;
    left: 5%;
    width: 45%;
    padding: 6px;
    color: #000;
    text-shadow: 1px 1px 2px rgba($color: #000000, $alpha: .8);
    box-sizing: border-box;
}