<mat-card>

  <mat-tab-group>

    <mat-tab label="Uni-code">
      
      <ng-template matTabContent>
        <app-hex-uni-code></app-hex-uni-code>
      </ng-template>
    </mat-tab>

    <mat-tab label="::BeAf Border Arrow">
      
      <ng-template matTabContent>
        <app-hex-before-after-border-arrow></app-hex-before-after-border-arrow>
      </ng-template>
    </mat-tab>

    <mat-tab label="Inside Border Arrows">
      
      <ng-template matTabContent>
        <app-hex-transform></app-hex-transform>
      </ng-template>
    </mat-tab>

    <mat-tab label="::BeAf Transform Border">
      
        <ng-template matTabContent>
          <app-hex-before-after-border></app-hex-before-after-border>
        </ng-template>
      </mat-tab>

      <mat-tab label="Scewed Transform ">
          <ng-template matTabContent>
            <app-hex-scewed></app-hex-scewed>
          </ng-template>
        </mat-tab>
      
    <mat-tab label="SVG">
      <ng-template matTabContent>

        <app-hex-svg></app-hex-svg>

      </ng-template>
    </mat-tab>
  
    <mat-tab label="Gradient">
      <ng-template matTabContent>
        <app-hex-linear-gradient></app-hex-linear-gradient>
      </ng-template>
    </mat-tab>

    <mat-tab label="Second">
      <ng-template matTabContent>

        <!-- generated way -->

        <div class="hexaxon">
          <span></span>
        </div>

        <p>Inside way</p>

        <div>
          <div class="insiden-hex">
            <div class=ihn-top-r></div>
            <div class=ihn-top-l></div>
            <div class=ihn-bottom-r></div>
            <div class=ihn-bottom-l></div>
          </div>
          <div class="insiden-hex">
            <div class=ihn-top-r></div>
            <div class=ihn-top-l></div>
            <div class=ihn-bottom-r></div>
            <div class=ihn-bottom-l></div>
          </div>
          <div class="insiden-hex">
            <div class=ihn-top-r></div>
            <div class=ihn-top-l></div>
            <div class=ihn-bottom-r></div>
            <div class=ihn-bottom-l></div>
          </div>

          <div class="ih-row-clear"></div>

          <div class="insiden-hex">
            <div class=ihn-top-r></div>
            <div class=ihn-top-l></div>
            <div class=ihn-bottom-r></div>
            <div class=ihn-bottom-l></div>
          </div>
          <div class="insiden-hex">
            <div class=ih-top-r></div>
            <div class=ihn-top-l></div>
            <div class=ihn-bottom-r></div>
            <div class=ihn-bottom-l></div>
          </div>

        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</mat-card>