<div class="new-hex">
  <div class="nh-back">
    <div class="inside-nh"></div>
  </div>
</div>

<div style="position: relative; top: 100px; left: -100px; transform: skew(30deg); width: 98px; height: 98px; border: 1px solid blue; margin: 0 auto;">b4</div>
<div style="position: relative; top: 100px; left: -100px; transform: skew(-30deg); width: 98px; height: 98px; border: 1px solid blue;  margin: 0 auto;">b5</div>

<div class=hexagon-box>
  <div class="img-hexagon"> </div>
  <div class="img-hexagon"> </div>
  <div class="img-hexagon"> </div>
  <div class="clearer"></div>
  <div class="img-hexagon"> </div>
  <div class="img-hexagon"> </div>
  <div class="img-hexagon"> </div>
  <div class="img-hexagon"> </div>
  <div class="img-hexagon"> </div>
</div>